:root {
    --font-family-regular: "Barlow", "Segoe UI", sans-serif;
    --accent-color: #5be9d3;
    --accent-color-special: #a7eee3;
}

* {
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;
}

#profileImageContainer {
    position: relative;
    perspective: 1000px;
    width: 200px;
    height: 200px;
}

#profileImage,
#profileBackImage {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

#profileBackImage {
    transform: rotateY(180deg);
}

#profileImageContainer:hover #profileImage {
    transform: rotateY(180deg);
}

#profileImageContainer:hover #profileBackImage {
    transform: rotateY(0deg);
}

.titleContainer {
    position: relative;
}

.keyboardContainer {
    position: absolute;
    right: 0;
}

.keyboard {
    position: relative;
}

.keyboard:hover .scorecard {
    opacity: 1;
}

.keyboard .scorecard {
    pointer-events: none;
    background-color: #4A96CE;
    padding: var(--space-smaller);
    position: absolute;
    top: 100%;
    right: 0;
    transition: opacity 300ms ease-out;
    border-radius: var(--border-radius);
    opacity: 0;
}

.keyboard img {
    border-radius: var(--border-radius);
}