:root {
    --color-page: #1a1a1a80;
    --font-family-regular: "Work Sans", "Segoe UI", sans-serif;
    --font-family-heading: "Work Sans", "Segoe UI", sans-serif;
    --color-accent: #dddddd;
    --color-accent-special: #ffffff;
    --hover-transition-duration: 300ms;
}

* {
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 800;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

#mainCard {
    opacity: 0;
    transition: transform 2000ms ease-out, opacity 1500ms ease-out;
    transform: scale(0.5) skewX(15deg) rotateZ(25deg) rotateY(90deg) translateY(25vh);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.60) 35%, rgba(0, 0, 0, 0.40) 100%);
}

#mainCard.visible {
    opacity: 1;
    transform: scale(1) skewX(0) rotateZ(0) rotateY(0) translateY(0);
}

#profileImageContainer {
    position: relative;
    perspective: 1000px;
    width: 150px;
    height: 150px;
}

#profileImage,
#profileBackImage {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform var(--hover-transition-duration);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

#profileBackImage {
    transform: rotateY(180deg);
}

#profileImageContainer:hover #profileImage {
    transform: rotateY(180deg);
}

#profileImageContainer:hover #profileBackImage {
    transform: rotateY(0deg);
}

#wallpaperIcon {
    position: absolute;
    bottom: var(--space-small);
    right: var(--space-small);
}

@media (max-width: 600px) {
    
    #wallpaperIcon {
        display: none;
    }

}

.titleContainer {
    position: relative;
}

.iconContainer {
    position: absolute;
    right: 0;
    bottom: 0;
}

.icon {
    position: relative;
}

.icon svg {
    animation-name: shake;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.icon:hover .tooltip {
    opacity: 1;
    z-index: 10;
}

.icon path {
    fill: var(--color-accent);
    transition: fill var(--hover-transition-duration) ease-out;
}

.icon:hover path {
    fill: var(--color-accent-special);
}

.icon .tooltip {
    pointer-events: none;
    background-color: var(--color-page-special);
    position: absolute;
    bottom: 100%;
    right: 0;
    transition: opacity var(--hover-transition-duration) ease-out;
    opacity: 0;
    overflow: hidden;
}

.tooltip img {
    border-radius: var(--border-radius);
}

.heart {
    display: inline-block;
    transition: color 500ms ease-out;
    animation-name: heart;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.heart:hover {
    color: #900000;
    transform: scale(1.15);
    animation-play-state: running;
}

@keyframes shake {
    0% {
        transform: rotateZ(0);
    }

    90% {
        transform: rotateZ(0);
    }

    92.5% {
        transform: rotateZ(20deg);
    }

    97.5% {
        transform: rotateZ(-20deg);
    }

    100% {
        transform: rotateZ(0);
    }
}

@keyframes heart {
    0% {
        transform: scale(1.0);
    }

    40% {
        transform: scale(1.25);
    }

    50% {
        transform: scale(1.05);
    }

    60% {
        transform: scale(1.35);
    }

    100% {
        transform: scale(1.0);
    }
}