:root {
    --background-color: #1a1a1a80;
    --font-family-regular: "Roboto", "Segoe UI", sans-serif;
    --font-family-heading: "Barlow", "Segoe UI", sans-serif;
    --accent-color: #99c9a5;
    --accent-color-special: #649b6e;
    --hover-transition-duration: 300ms;
}

* {
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

#mainCard {
    opacity: 0;
    transition: transform 1000ms ease-out, opacity 750ms ease-out;
    transform: skewX(15deg) rotateZ(25deg) rotateY(90deg) translateY(4rem);
}

#mainCard.visible {
    opacity: 1;
    transform: skewX(0) rotateZ(0) rotateY(0) translateY(0);
}

#profileImageContainer {
    position: relative;
    perspective: 1000px;
    width: 200px;
    height: 200px;
}

#profileImage,
#profileBackImage {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform var(--hover-transition-duration);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

#profileBackImage {
    transform: rotateY(180deg);
}

#profileImageContainer:hover #profileImage {
    transform: rotateY(180deg);
}

#profileImageContainer:hover #profileBackImage {
    transform: rotateY(0deg);
}

.titleContainer {
    position: relative;
}

.iconContainer {
    position: absolute;
    right: 0;
    bottom: 0;
}

.icon {
    position: relative;
}

.icon:hover .tooltip {
    opacity: 1;
    z-index: 10;
}

.icon path {
    fill: var(--accent-color);
    transition: fill var(--hover-transition-duration) ease-out;
}

.icon:hover path {
    fill: var(--accent-color-special);
}

.icon .tooltip {
    pointer-events: none;
    background-color: var(--background-color-special);
    position: absolute;
    bottom: 100%;
    right: 0;
    max-width: 80vw;
    transition: opacity var(--hover-transition-duration) ease-out;
    opacity: 0;
}

.tooltip img {
    border-radius: var(--border-radius);
}

.heart {
    display: inline-block;
    transition: color 500ms ease-out;
    animation-name: heart;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.heart:hover {
    color: #900000;
    transform: scale(1.15);
    animation-play-state: running;
}

@keyframes heart {
    0% {
        transform: scale(1.0);
    }

    40% {
        transform: scale(1.25);
    }

    50% {
        transform: scale(1.05);
    }

    60% {
        transform: scale(1.35);
    }

    100% {
        transform: scale(1.0);
    }
}